/*Reset css*/
ul,li{margin:0px;}
li{list-style: none;}
a{text-decoration: none;}
h1{
	font-weight: 400;
	font-size: 2.625rem;
	margin-bottom: .625rem;
    font-family: inherit;
    line-height: 1.3;
    color: #222;
}
h6{
	font-size: .875rem;
	font-weight: 500;
}
body{
	font-family: "Poppins", Arial;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.8;
    color: #788487;
}
#main{
	min-height: 665px;
    background: url(../img/module-2.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
    background-position: center -142px;
}
/*Start headerTop*/
.headerTop .navbarNew{
	padding: 0px;
    transition: height .3s ease-out, background .3s ease-out, box-shadow .3s ease-out;
	border-bottom: 1px solid rgba(255, 255, 255, .1);
}
.headerTop a.navbarLogo{
	padding: 0px 3px;
	letter-spacing: 0;
    font-weight: 600;
    font-size: 1.25rem;
}
.headerTop li.navItemNew li.menuCol a{
		pointer-events: none;
	    cursor: default;
	    font-weight: 600;
	    font-size: .75rem;
}
.headerSmall .navbarNew{
	height: 60px;
	background-color: #fff;
    border-bottom: 1px solid rgba(240, 240, 240, .8);
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, .07);
}
.headerSmall a.navbarLogo{
	color: #222;
}
.headerSmall .navbar-dark .navbar-nav .navLink{
	color: #222;
	letter-spacing: .05625rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .75rem;
}
.headerSmall li span.bottomLine{
	background-color: transparent;
}
.headerSmall .extraNav a.shopCard i,.headerSmall .extraNav a.menuLine i{
	color: #222!important;
}
.headerSmall .extraNav{
	height: 60px;
}
.headerTop .extraNav ul{
	border-left: 1px solid rgba(255, 255, 255, .1);
	height: 100%;
	width: 99px;
	margin-left: 43px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.headerTop .extraNav>ul>li>a>i{
	color: white;
	margin-left: 10px;
}
.headerTop .extraNav .btnHide{
	display: none;
}
.bannerCover{ /*Start bannerCover*/
	background-color: rgba(51, 51, 51, 0.5);
	width: 100%;
    min-height: 591px;
	padding: 70px 0 120px;
}
.bannerCover .contentBannerCol{
	justify-content: center;
	display:flex;    
  	align-items:center;
}

.bannerCover .contentBanner p.title2{
	color: white !important;
	margin-top: 0px;
	margin-bottom: 40px;
	display: block;
}
.contentBanner .bannerBtn1{
	border: 2px solid #505cfd ;
	border-radius: 70px;
	margin-right: 10px;
	background-color: #505cfd;
    text-transform: uppercase;
    letter-spacing: .1125rem;
    font-size: .75rem;
    font-weight: 600;
}
.contentBanner .bannerBtn2{
	border: 2px solid #fff ;
	border-radius: 70px;
    background: transparent;
    text-transform: uppercase;
    letter-spacing: .1125rem;
    font-size: .75rem;
    font-weight: 600;
}

.containSiteWay{
	background-color: white;
	padding: 120px 0px 10px;
}
.containSiteWay img.imgBanner{
	width: 100%;
}
.title{
	color: black !important;
	font-weight: 400;
	font-size: 2.625rem;
}
.titleText{
	font-size: .9375rem;
    font-weight: 400;
    letter-spacing: .01875rem;
}	
.bgIcons{
	font-size: 38px;
	color: blue;
	transition: all .3s ease-in-out;
}
.bgIcons:hover{
	
	transform:translateY(-6px);
}
p.itaLic{
	font-style: italic;
}
.cardItems{
	transition: all .3s ease-in-out;
}
.cardItems:hover{
	transform:translateY(-73px);
}
.colItems{
	text-align: center;
	overflow: hidden;
	height: 450px;
}
.colItems .card{
	border: none;
}
.colItems .card .card-body{
	padding:30px 0px;
}
.containSiteWay ul.link4 li{
	display: inline-block;
	padding: 20px 10px;
	
}
.containSiteWay ul.link4 li a{
	font-style: italic;
	opacity: .6;
    color: #788487;
}
.containSiteWay ul.link4 li a.current,.containSiteWay ul.link4 li a:hover{
    color: black;
}
.containFlexible{
	background-color: #f8f8f8;;
	padding: 120px 0px 100px;
}
.containSiteWay .teamCover{
	position: relative;
	border-radius: .1875rem;
    box-shadow: 0 8px 24px rgb(0 0 0 / 10%);
    margin-bottom: 24px;
}
.containSiteWay .teamCover:hover{
	transform:translateY(-5px);
}
.containSiteWay .teamCover:hover .teamOverlap{
    background: rgba(34, 34, 34, .6);
    opacity: 1;
}
.containSiteWay .teamCover:hover .teamContent,.containSiteWay .teamCover:hover .teamSocial{
	transform:translateY(0px);
}
.containSiteWay .teamCover,.containSiteWay .teamCover .teamOverlap,.containSiteWay .teamCover .teamContent,.containSiteWay .teamCover .teamSocial{
  	transition: all .4s ease-in-out;
}
.containSiteWay .teamCover .teamOverlap{
	position: absolute;
	top: 0px;
	left: 0px;
    border-radius: .1875rem;
	height: 100%;
    width: 100%;
    display: flex;
  	justify-content: space-between;
    opacity: 0;
}
.containSiteWay .teamCover .teamContent{
	align-self: flex-end;
  	color: white;
  	transform: translateY(-20px);
  	padding: 20px;
}
.containSiteWay .teamCover .teamContent h6{
	margin-bottom: 2px;
}
.containSiteWay .teamCover .teamContent p{
	opacity: .6;
}
.containSiteWay .teamCover .teamSocial{
  	align-self: flex-start;
  	transform: translateY(-20px);
  	padding: 20px;
}
.containSiteWay .teamCover .teamSocial ul li a{
  	color: white;
}
.containSiteWay .btnAbout{
	border: 2px solid #505cfd ;
	color: #505cfd;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 100px;
}
.containSiteWay .btnAbout:hover{
	background-color: #505cfd;
	color: white;
}
.sliderCover{
	background: url(../img/module-12.jpg) no-repeat center top;
	background-attachment: fixed;
	overflow: hidden;
	transition: all .2s ease;
}
.sliderCover .overlapContainer{
	width: 100%;
	min-height: 20px;
	background-color: rgba(51, 51, 51, 0.5);
	transition: all .2s ease;
}
.sliderCover .carouselHeight{
	width: 100%;
	height: 630px;
	margin-top: 170px;
	text-align: center;
}
.sliderCover .carouselHeight .avatarIcon{
	width: 80px;
	border: 6px solid rgba(255, 255, 255, .1);
    border-radius: 50%;
    margin-top: 100px;
}
.sliderCover #carouselExampleCaptions .carousel-inner .carousel-caption{
	bottom: 17rem;
} 
.sliderCover #carouselExampleCaptions .carousel-indicators{
	bottom: 250px;
} 
.sliderCover #carouselExampleCaptions .carousel-inner .carousel-caption h5{
	margin-bottom: 28px;
	line-height: 32px;
} 
.sliderCover .carousel-indicators .dotOut{
	height: 8px;
    width: 8px;
    border: 1px solid transparent;
    border-radius: 100%;
    background: transparent;
    margin-right: 15px;
    padding-top: 4px;
    padding-left: 4px;
}
.sliderCover .carousel-indicators .dotOut:hover{
    border: 1px solid white;
}
.sliderCover .carousel-indicators .active{
    border: 1px solid white;
}
.sliderCover .carousel-indicators .dotOut .dotIn{
	width: 4px;
    height: 4px;
    border-radius: 100%;
    background: white;
}
.downloadIconCover{
	margin-top: -55px;
	transition: all .2s ease;
}
.downloadIconCover .card .pen{
	font-size: 50px;
}
.downloadIconCover .card .texttext{
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 400;
	color: #222;
}
.downloadIconCover .card .price{
	font-size: 64px;
	font-weight: 600;
}
.downloadIconCover .card .priceDola{
	font-size: 18px;
	font-weight: 600;
	color: #222;
}
.downloadIconCover .cardAnimation{
	transition: .3s ease-in-out;
}
.downloadIconCover .cardAnimation:hover{
	transform: scale(1.02);
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
	border-radius: 0.25rem !important;
	z-index: 20;
}
.logoItemCover .owl-carousel .item{
	opacity: 0.5;
	transition: all 0.8s ease;
}
.logoItemCover .owl-carousel .item:hover{
	opacity: 1;
}
.logoItemCover .owl-theme .owl-dots .owl-dot{
    border: 1px solid transparent;
    border-radius: 50%;
    background: transparent;
    margin-right: 15px;
    padding: 4px;
	transition: all .5s ease-in-out;
}
.logoItemCover .owl-theme .owl-dots .active{
	border: 1px solid blue;
}
.logoItemCover .owl-theme .owl-dots .owl-dot:hover{
    border: 1px solid blue;
    opacity: 0.5;
}
.logoItemCover .owl-theme .owl-dots .owl-dot span{
	width: 4px;
    height: 4px;
    border-radius: 100%;
    background: blue;
}
.articlesCover .articleAnimation{
	transition: all .3s ease-in-out;
}
.articlesCover .articleAnimation:hover{
	transform: translateY(-5px);
}
.clientImgCover .clientImg{
	width: 100%;
	height: auto;
}
.footerCover{
	width: 100%;
	border-bottom: 1px solid #2f2f2f;
}
.footerCover .post{
	border-bottom: 1px solid #2f2f2f;
	margin-bottom: 10px;
}
.footerCover .container a.footerLink,.footerBarCover .container a.footerLink{
	color:#cecece ;
}
.footerCover .container a.footerLink:hover,.footerBarCover .container a.footerLink:hover{
	color:#f0f0f0bd ;
}
.footerCover .container .post p{
	font-size: 11x;
}
.footerCover .portfolio ul li a img{
	width: 64px;
}
.footerCover .portfolio ul li a img:hover{
	opacity: 0.7;
}
/*End Reset css*/
@media screen and (min-width: 768px) {
	
	.headerTop{ /*Start headerTop*/
		background-color: rgba(51, 51, 51, 0.5);
		height: 74px;
	}
	.headerTop li.navItemNew,.headerTop .extraNav{
		height: 73px;
		text-align: center;
	}
	.headerTop ul.navbar-nav li a.navLink{
		padding: 20px 17px 0px;
		line-height: 37px;
		letter-spacing: .05625rem;
	    text-transform: uppercase;
	    font-weight: 600;
	    font-size: .75rem;
		display: block;
		color: white;
	}
	.headerTop span.bottomLine{
		width: 20px;
		height: 1px;
		background-color: white;
		display: inline-block;
		transition: width .5s;
	}
	.headerSmall a.navLink:hover{
		color: rgba(34, 34, 34, .65);
	}
	.headerTop li.navItemNew ul.bgHome{
		background: url(../img/menu-3.jpg) no-repeat;background-size: cover;
	}
	
	.headerTop li.navItemNew ul.bgPage{background: url(../img/menu-1.jpg) no-repeat;background-size: cover;}
	.headerTop li.navItemNew ul.bgCompo{background: url(../img/menu-2.jpg) no-repeat;background-size: cover;}

	.headerTop .dropMenu{
		display: flex;
		flex-direction: row;
	}
	.headerTop .dropMenu .subMenu li a{
		letter-spacing: .0625rem;
	    font-weight: 500;
	    font-size: .75rem;
	    color: #9d9d9d;
	}
	
	.bannerCover .contentBanner h1.title1{
		color: white !important;
		margin-bottom: 20px;
		font-weight: 600;
	    font-size: 4rem;
	    font-family: inherit;
	}
	.bannerCover .contentBanner .bannerBtn1:hover{
	    background-color: #1e2dfc;
	    border-color: #1121fc;
	}
	.bannerCover .contentBanner .bannerBtn2:hover{
	    background: white;
	    color: black !important;
	}
	
}/*End min-width: 768px */
@media screen and (max-width: 768px) {
	#main{
		background-size: 140%;
    	background-position: center 0px;
	}
	.headerTop .navbarNew{
		background-color: #fff;
		height: 73px;
	}
	.headerTop a.navbarLogo{
		color: #222;
	}
    .headerTop a.navLink{
		color: #222;
	}
	.headerTop .navbarTogg,.headerTop button.navbar-toggler{
		padding:0px;
	}
	.headerTop .navbarTogg i{
		color: black;
	}
	.headerTop .navbarTogg span.fas{
		color: black;
		padding-right: 0px;
		padding-left: 20px;
	}
	.headerTop #navbarNavDarkDropdown{
		margin:0px -12px;
		padding:10px 10px;
		background-color:#222;;
		width: 100%;
	}
	.headerTop #navbarNavDarkDropdown a.navLink{
		color: white !important;
	}
	.headerTop li.navItemNew a.navLink:hover{
		color: #222; !important;
	}
	.headerTop li.navItemNew ul.bgColor{
		background-color: #222;
	}
	.headerTop .dropMenu .subMenu li a{
		letter-spacing: .0625rem;
	    font-weight: 500;
	    font-size: .75rem;
	    color: white;
	}
	.headerTop .dropMenu a.dropItem,.headerTop li.navItemNew li.menuCol a{
		color: white;
	}
	.headerSmall .navbarNew{
		height: 60px;
	}
	.bannerCover .contentBanner h1.title1{
		color: white !important;
		margin-bottom: 20px;
		font-weight: 400 !important;
	    font-size: 2.375rem !important;
	    font-family: inherit;
	}
 	.extraNav{
 		display: none;
 	}
 	/*End headerTop*/
}/*End max-width: 768px */
